<?xml version="1.0" encoding="UTF-8"?>
<config>

    <QaScorers>
        <QaScorer
                name="AnswerFrequency"
                weight="30">
        </QaScorer>
        <QaScorer
                name="AnswerSimilarityToUserQuestion"
                weight="20">
        </QaScorer>
        <QaScorer
                name="QuestionSimilarityToUserQuestion"
                weight="40">
        </QaScorer>
        <QaScorer
                name="SimpleTimeDifference"
                weight="10">
        </QaScorer>
    </QaScorers>

<!--english or portuguese-->
    <language>english</language>
    <stopWordsLocation>./resources/stopwords/english_stop.txt</stopWordsLocation>

	<lucene>
		<indexPath>./resources/luceneIndexes</indexPath>
        <usePreviouslyCreatedIndex>true</usePreviouslyCreatedIndex>
		<hitsPerQuery>200</hitsPerQuery>
    </lucene>

    <!--location of the corpora (check if it is  coherent with the chosen language)-->
	<corpusPath>./resources/corpus/eng</corpusPath>
	<logPath>./resources/log</logPath>

	<noAnswerFoundMsg>I'm sorry, could you rephrase that?</noAnswerFoundMsg>
</config>