<?xml version="1.0" encoding="UTF-8"?>
<config>

    <evaluationChosen name="qaScorers"/>

    <l2rModelPath>./resources/l2r/model.bin</l2rModelPath>

    <qaScorers>
        <qaScorer
                name="AnswerFrequency"
                weight="30">
        </qaScorer>
        <qaScorer
                name="AnswerSimilarityToUserQuestion"
                weight="5">
        </qaScorer>
        <qaScorer
                name="QuestionSimilarityToUserQuestion"
                weight="55">
        </qaScorer>
        <qaScorer
                name="SimpleTimeDifference"
                weight="10">
        </qaScorer>
     <!--   <qaScorer
                name="SimpleConversationContext"
                weight="0"
                nPreviousQAs="2">
        </qaScorer>  -->
    </qaScorers>

    <normalizations names="EnglishLemmatizer, RemoveDiacriticalMarks" />

    <distanceAlgorithm name="JaccardOverlapBigram" jaccardWeight="0.8"/>

    <!--english or portuguese-->
    <language>english</language>
    <stopWordsLocation>./resources/stopwords/english_stop.txt</stopWordsLocation>

	<lucene>
		<indexPath>./resources/luceneIndexes</indexPath>
        <usePreviouslyCreatedIndex>true</usePreviouslyCreatedIndex>
		<hitsPerQuery>20</hitsPerQuery>
    </lucene>

    <!--location of the corpora (check if the corpora is coherent with the chosen language)-->
	<corpusPath>./resources/corpus/eng</corpusPath>
	<logPath>./resources/eng</logPath>

	<noAnswerFoundMsg>I'm sorry, could you rephrase that?</noAnswerFoundMsg>
</config>
