<?xml version="1.0" encoding="UTF-8"?>
<config>

    <qaScorers>
        <qaScorer
                name="AnswerFrequency"
                weight="30">
        </qaScorer>
        <qaScorer
                name="AnswerSimilarityToUserQuestion"
                weight="20">
        </qaScorer>
        <qaScorer
                name="QuestionSimilarityToUserQuestion"
                weight="40">
        </qaScorer>
        <qaScorer
                name="SimpleTimeDifference"
                weight="10">
        </qaScorer>
     <!--   <qaScorer
                name="SimpleConversationContext"
                weight="0"
                nPreviousQAs="2">
        </qaScorer>  -->
    </qaScorers>

    <normalizations names="RemoveDiacriticalMarks" />

    <distanceAlgorithm name="JaccardOverlapBigram" jaccardWeight="0.8"/>

    <!--english or portuguese-->
    <language>portuguese</language>
    <stopWordsLocation>./resources/stopwords/portuguese_stop.txt</stopWordsLocation>

	<lucene>
		<indexPath>./resources/luceneIndexes</indexPath>
        <usePreviouslyCreatedIndex>false</usePreviouslyCreatedIndex>
		<hitsPerQuery>200</hitsPerQuery>
    </lucene>

    <!--location of the corpora (check if the corpora is coherent with the chosen language)-->
	<corpusPath>./resources/corpus/por</corpusPath>
	<logPath>./resources/log</logPath>

	<noAnswerFoundMsg>Peço desculpa, não percebi</noAnswerFoundMsg>
</config>
